<!DOCTYPE html> <html lang="en">
<head>
 <meta charset="utf-8">     <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <title>BusinessSpew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
<%=  yield :nav if content_for?(:nav) %>
<div class="row">

<%= yield %>

<footer>&copy;2015 Websembly, LLC</footer>
</body>
</html>
